<header class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="dropdown navbar-hamburger">
        <button class="navbar-hamburger-button" data-toggle="dropdown">
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
    </div>

    {{#link-to 'application' class='navbar-brand'}}
      <span class="navbar-brand-logo s-logo">TED</span>
      <span>{{name}}</span>
    {{/link-to}}

    {{yield}}
  </div>
</header>
