*.gem
*.rbc
.bundle
.config
.yardoc
app/assets/images
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
node_modules/
bower_components/
.sass-cache/
